.example {
    color: #FFF;
    text-align: justify;
}
.example:after {
    content: 'Onde vai parar esse texto?';
    color: red;
}

    .example-item {
        width: 25%;
        height: 150px;
        display: inline-block;
    }
    .example-item_first {
        background-color: #FAA116;
    }
    .example-item_second {
        background-color: #57C7C3;
    }
    .example-item_third {
        background-color: #3B97D3;
    }
