.wrap-elementExample {
  background-color: #27ae60;
  overflow: hidden;
}

.elementExample {
  width: 200px;
  height: 200px;
  line-height: 200px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}
.elementExample_first {
  background-color: #8E44AD;
}
.elementExample_last {
  background-color: #C0392B;
}

.elementParagraph {
  clear: right;
}
